*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    margin: 0;
    padding: 0;
}
#header{
    height: 10vh;
    width: 100vw;
    background-color: blue;
    text-align: center;
}
#menu{
    height: 85vh;
    width: 20vw;
    text-align: center;
    background-color: darkblue;
}
#menu:hover{
    height: 85vh;
    width: 20vw;
    text-align: center;
    background-color: darkblue;
    cursor: pointer;
}
#content{
    height: 85vh;
    width: 80vw;
    background-color: #034efc;
}
#footer{
    height: 5vh;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}
#jpg{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#marki{
    display: flex;
    justify-content: space-between;

}
h2{
    margin: 0;
}
#menu img{
    width: 150px;
}
img{
    width: 500px;
}
.flex{
    display: flex;
}
.pointer{
    cursor: pointer;
}